<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stabO2-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,78},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>sit-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,145},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>swingO2-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,71},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>swingO3-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,0},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>swingT1-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,212},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>swingP1-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,34},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>swingP2-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,0},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>ladder-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,212},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>swingT2-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,178},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>shoot2-4-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,142},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>rope-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,77},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>rope-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,36},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>shoot1-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,0},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>shoot1-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,214},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>shoot2-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,178},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>shoot2-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,142},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>swingP2-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,107},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>swingT2-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,72},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>swingO1-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,32},{29,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>swingO3-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,166},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>swingO1-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,129},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>alert-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,213},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>alert-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,0},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>alert-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,97},{40,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,31}}</string>
                <key>sourceSize</key>
                <string>{40,31}</string>
            </dict>
            <key>swingO3-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,67},{42,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,29}}</string>
                <key>sourceSize</key>
                <string>{42,29}</string>
            </dict>
            <key>walk1-3-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,34},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>ladder-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,213},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>shootF-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,177},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>walk1-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,143},{40,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>stand1-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{40,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>stand1-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,108},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>stand1-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,219},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>swingTF-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,66},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>swingT1-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,182},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>swingP1-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,145},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>swingPF-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,32},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
            <key>swingO2-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,108},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>stabO2-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,76},{45,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,31}}</string>
                <key>sourceSize</key>
                <string>{45,31}</string>
            </dict>
            <key>stabO1-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,0},{45,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,31}}</string>
                <key>sourceSize</key>
                <string>{45,31}</string>
            </dict>
            <key>walk1-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,216},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>stabO1-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,183},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>swingT3-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,151},{45,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,31}}</string>
                <key>sourceSize</key>
                <string>{45,31}</string>
            </dict>
            <key>walk1-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,41},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>swingPF-3-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,116},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>swingOF-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,78},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>swingO2-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,216},{45,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,32}}</string>
                <key>sourceSize</key>
                <string>{45,32}</string>
            </dict>
            <key>fly-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>jump-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,179},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>swingOF-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,109},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>swingT3-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,41},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>stabT1-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,218},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>swingTF-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,0},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>stabT2-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,36},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>stabOF-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,179},{41,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,38}}</string>
                <key>sourceSize</key>
                <string>{41,38}</string>
            </dict>
            <key>stabOF-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,145},{46,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,33}}</string>
                <key>sourceSize</key>
                <string>{46,33}</string>
            </dict>
            <key>fly-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,35},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>shootF-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,109},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>swingPF-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,78},{51,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,30}}</string>
                <key>sourceSize</key>
                <string>{51,30}</string>
            </dict>
            <key>swingTF-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,0},{47,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,34}}</string>
                <key>sourceSize</key>
                <string>{47,34}</string>
            </dict>
            <key>swingT3-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,212},{49,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,32}}</string>
                <key>sourceSize</key>
                <string>{49,32}</string>
            </dict>
            <key>swingPF-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,126},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>stabTF-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,78},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>swingP2-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,176},{51,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,35}}</string>
                <key>sourceSize</key>
                <string>{51,35}</string>
            </dict>
            <key>swingOF-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,36},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>swingT2-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,0},{51,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,35}}</string>
                <key>sourceSize</key>
                <string>{51,35}</string>
            </dict>
            <key>swingT1-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,142},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>swingOF-3-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,214},{55,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,32}}</string>
                <key>sourceSize</key>
                <string>{55,32}</string>
            </dict>
            <key>stabOF-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,74},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>swingO1-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,180},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>swingP1-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,108},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>stabT2-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>stabT1-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{50,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,37}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>swingTF-3-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>stabT2-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{50,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,37}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>stabT1-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>proneStab-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,37},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>proneStab-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01102066.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>01102066.png</string>
        </dict>
    </dict>
</plist>
