<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swingT2-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,145},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>swingP2-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,38},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>sit-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,331},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>swingO2-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,233},{29,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>walk1-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,107},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>stand1-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,293},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>ladder-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,195},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>ladder-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>rope-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,157},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>rope-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,69},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>swingT2-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,256},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>swingP2-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,120},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>stand1-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,300},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>swingP1-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,215},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>swingTF-3-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,39},{48,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,29}}</string>
                <key>sourceSize</key>
                <string>{48,29}</string>
            </dict>
            <key>swingP1-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,185},{48,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,29}}</string>
                <key>sourceSize</key>
                <string>{48,29}</string>
            </dict>
            <key>walk1-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,0},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>walk1-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,81},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>swingT3-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,262},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>swingP1-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,145},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>stabO1-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,324},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>stabT2-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,221},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>swingT1-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,41},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>swingO2-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,0},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>swingT1-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,104},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>swingT1-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,0},{48,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,29}}</string>
                <key>sourceSize</key>
                <string>{48,29}</string>
            </dict>
            <key>stabOF-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,335},{48,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,29}}</string>
                <key>sourceSize</key>
                <string>{48,29}</string>
            </dict>
            <key>stabT1-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,221},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>stand1-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,182},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>stabOF-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,324},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>stabO2-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,286},{42,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,37}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>walk1-3-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,66},{42,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,37}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>swingPF-3-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,151},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>swingT3-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,35},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>swingTF-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,109},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>alert-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,188},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>shoot2-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,249},{49,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,36}}</string>
                <key>sourceSize</key>
                <string>{49,36}</string>
            </dict>
            <key>shoot1-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,303},{49,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,36}}</string>
                <key>sourceSize</key>
                <string>{49,36}</string>
            </dict>
            <key>shoot1-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,72},{49,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,36}}</string>
                <key>sourceSize</key>
                <string>{49,36}</string>
            </dict>
            <key>shoot2-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,151},{49,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,36}}</string>
                <key>sourceSize</key>
                <string>{49,36}</string>
            </dict>
            <key>shoot2-4-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,114},{49,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,36}}</string>
                <key>sourceSize</key>
                <string>{49,36}</string>
            </dict>
            <key>alert-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,35},{49,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,36}}</string>
                <key>sourceSize</key>
                <string>{49,36}</string>
            </dict>
            <key>alert-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,0},{53,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,34}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>swingPF-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,208},{47,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,40}}</string>
                <key>sourceSize</key>
                <string>{47,40}</string>
            </dict>
            <key>swingOF-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,74},{49,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,39}}</string>
                <key>sourceSize</key>
                <string>{49,39}</string>
            </dict>
            <key>swingO3-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,257},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>stabO2-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,318},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>stabO1-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,162},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>swingOF-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,116},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>swingO1-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,210},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>swingO3-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,37},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,36}}</string>
                <key>sourceSize</key>
                <string>{56,36}</string>
            </dict>
            <key>fly-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,36}}</string>
                <key>sourceSize</key>
                <string>{56,36}</string>
            </dict>
            <key>shootF-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,318},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>swingPF-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,277},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>swingPF-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,80},{59,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,35}}</string>
                <key>sourceSize</key>
                <string>{59,35}</string>
            </dict>
            <key>stabTF-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,165},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>shootF-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,125},{56,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,39}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>stabOF-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,237},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>swingT3-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,40},{59,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,39}}</string>
                <key>sourceSize</key>
                <string>{59,39}</string>
            </dict>
            <key>swingTF-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{59,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,39}}</string>
                <key>sourceSize</key>
                <string>{59,39}</string>
            </dict>
            <key>stabT1-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,323},{59,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,39}}</string>
                <key>sourceSize</key>
                <string>{59,39}</string>
            </dict>
            <key>stabT2-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,283},{59,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,39}}</string>
                <key>sourceSize</key>
                <string>{59,39}</string>
            </dict>
            <key>swingTF-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,283},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>swingO1-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,0},{60,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,43}}</string>
                <key>sourceSize</key>
                <string>{60,43}</string>
            </dict>
            <key>jump-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,98},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>swingOF-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,51},{63,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,46}}</string>
                <key>sourceSize</key>
                <string>{63,46}</string>
            </dict>
            <key>swingO3-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,237},{67,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,45}}</string>
                <key>sourceSize</key>
                <string>{67,45}</string>
            </dict>
            <key>stabT2-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,209},{89,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,27}}</string>
                <key>sourceSize</key>
                <string>{89,27}</string>
            </dict>
            <key>stabT1-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,181},{89,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,27}}</string>
                <key>sourceSize</key>
                <string>{89,27}</string>
            </dict>
            <key>stabTF-3-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,153},{89,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,27}}</string>
                <key>sourceSize</key>
                <string>{89,27}</string>
            </dict>
            <key>swingO2-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,323},{89,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,27}}</string>
                <key>sourceSize</key>
                <string>{89,27}</string>
            </dict>
            <key>fly-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,295},{89,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,27}}</string>
                <key>sourceSize</key>
                <string>{89,27}</string>
            </dict>
            <key>swingO1-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,253},{82,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,41}}</string>
                <key>sourceSize</key>
                <string>{82,41}</string>
            </dict>
            <key>proneStab-1-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,203},{74,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,49}}</string>
                <key>sourceSize</key>
                <string>{74,49}</string>
            </dict>
            <key>proneStab-0-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{74,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,49}}</string>
                <key>sourceSize</key>
                <string>{74,49}</string>
            </dict>
            <key>swingP2-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{83,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,50}}</string>
                <key>sourceSize</key>
                <string>{83,50}</string>
            </dict>
            <key>swingT2-2-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,51},{83,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,50}}</string>
                <key>sourceSize</key>
                <string>{83,50}</string>
            </dict>
            <key>swingOF-3-cape.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,50}}</string>
                <key>sourceSize</key>
                <string>{86,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01102068.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>01102068.png</string>
        </dict>
    </dict>
</plist>
