<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cry-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,110},{26,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,12}}</string>
                <key>sourceSize</key>
                <string>{26,12}</string>
            </dict>
            <key>oops-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,108},{25,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,15}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>hit-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,105},{25,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,15}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>wink-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,104},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>blink-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,96},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>blink-1-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>blink-2-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,94},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>default-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,93},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>shine-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,91},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>chu-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,87},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>smile-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,87},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>stunned-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,78},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>troubled-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,76},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>dam-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,73},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>hum-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,71},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
            <key>bewildered-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,70},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>hum-1-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,69},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
            <key>glitter-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,67},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>glitter-1-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,67},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>dam-1-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,54},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>cheers-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,54},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>angry-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,49},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>pain-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,49},{30,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,19}}</string>
                <key>sourceSize</key>
                <string>{30,19}</string>
            </dict>
            <key>love-1-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,48},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>love-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,47},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>blaze-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,45},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>blaze-1-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,21},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>bowing-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,33},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>bowing-1-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{37,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,20}}</string>
                <key>sourceSize</key>
                <string>{37,20}</string>
            </dict>
            <key>despair-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,27},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{42,20}</string>
            </dict>
            <key>despair-1-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,26},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>hot-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,0},{40,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,25}}</string>
                <key>sourceSize</key>
                <string>{40,25}</string>
            </dict>
            <key>qBlue-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,0},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>hot-1-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>vomit-1-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,0},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>vomit-0-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>00020000.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>00020000.png</string>
        </dict>
    </dict>
</plist>
