<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect3-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,443},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>effect2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,443},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>effect0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,443},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>effect1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,443},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hit-0-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,346},{68,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,87}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>hit-0-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,346},{93,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,96}}</string>
                <key>sourceSize</key>
                <string>{93,96}</string>
            </dict>
            <key>hit-0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,108},{117,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{117,104}}</string>
                <key>sourceSize</key>
                <string>{117,104}</string>
            </dict>
            <key>effect3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,232},{150,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,71}}</string>
                <key>sourceSize</key>
                <string>{150,71}</string>
            </dict>
            <key>effect0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,232},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>hit-0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{120,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,107}}</string>
                <key>sourceSize</key>
                <string>{120,107}</string>
            </dict>
            <key>effect3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,159},{158,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{158,72}}</string>
                <key>sourceSize</key>
                <string>{158,72}</string>
            </dict>
            <key>effect1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,89},{162,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{162,69}}</string>
                <key>sourceSize</key>
                <string>{162,69}</string>
            </dict>
            <key>effect1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,311},{164,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{164,78}}</string>
                <key>sourceSize</key>
                <string>{164,78}</string>
            </dict>
            <key>effect2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,0},{156,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{156,88}}</string>
                <key>sourceSize</key>
                <string>{156,88}</string>
            </dict>
            <key>effect2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,311},{158,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{158,91}}</string>
                <key>sourceSize</key>
                <string>{158,91}</string>
            </dict>
            <key>effect0-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{166,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,120}}</string>
                <key>sourceSize</key>
                <string>{166,120}</string>
            </dict>
            <key>effect-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{158,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{158,189}}</string>
                <key>sourceSize</key>
                <string>{158,189}</string>
            </dict>
            <key>effect-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{158,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{158,189}}</string>
                <key>sourceSize</key>
                <string>{158,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1311001.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>1311001.png</string>
        </dict>
    </dict>
</plist>
