<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bsc-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,227},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,165},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,138},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,46},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>edD-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{62,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,19}}</string>
                <key>sourceSize</key>
                <string>{62,19}</string>
            </dict>
            <key>edU-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,23},{61,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,21}}</string>
                <key>sourceSize</key>
                <string>{61,21}</string>
            </dict>
            <key>enH0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,312},{90,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,21}}</string>
                <key>sourceSize</key>
                <string>{90,21}</string>
            </dict>
            <key>enH0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{90,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,21}}</string>
                <key>sourceSize</key>
                <string>{90,21}</string>
            </dict>
            <key>enH0-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,289},{90,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,21}}</string>
                <key>sourceSize</key>
                <string>{90,21}</string>
            </dict>
            <key>enH1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{90,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,19}}</string>
                <key>sourceSize</key>
                <string>{90,19}</string>
            </dict>
            <key>enH1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{90,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,19}}</string>
                <key>sourceSize</key>
                <string>{90,19}</string>
            </dict>
            <key>enH1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{90,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,19}}</string>
                <key>sourceSize</key>
                <string>{90,19}</string>
            </dict>
            <key>enV0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{25,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,60}}</string>
                <key>sourceSize</key>
                <string>{25,60}</string>
            </dict>
            <key>enV0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,308},{25,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,60}}</string>
                <key>sourceSize</key>
                <string>{25,60}</string>
            </dict>
            <key>enV1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,269},{37,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,60}}</string>
                <key>sourceSize</key>
                <string>{37,60}</string>
            </dict>
            <key>enV1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,230},{37,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,60}}</string>
                <key>sourceSize</key>
                <string>{37,60}</string>
            </dict>
            <key>slLD-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{90,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,79}}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>slLU-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>slRD-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,84},{90,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,79}}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>slRU-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,81}}</string>
                <key>sourceSize</key>
                <string>{90,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>darkpurpleToyCastle.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b01ec68288f064662d572f05806a06c$</string>
            <key>textureFileName</key>
            <string>darkpurpleToyCastle.png</string>
        </dict>
    </dict>
</plist>
