<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bsc-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,239},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,224},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,177},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,132},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>edD-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>edD-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>edD-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,338},{34,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,21}}</string>
                <key>sourceSize</key>
                <string>{34,21}</string>
            </dict>
            <key>edD-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,338},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>edU-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>edU-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,445},{60,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,34}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>edU-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,316},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>enH0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,301},{90,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,35}}</string>
                <key>sourceSize</key>
                <string>{90,35}</string>
            </dict>
            <key>enH0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{90,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,35}}</string>
                <key>sourceSize</key>
                <string>{90,35}</string>
            </dict>
            <key>enH0-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,25},{90,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,35}}</string>
                <key>sourceSize</key>
                <string>{90,35}</string>
            </dict>
            <key>enH1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,353},{90,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,20}}</string>
                <key>sourceSize</key>
                <string>{90,20}</string>
            </dict>
            <key>enH1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,39},{91,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,22}}</string>
                <key>sourceSize</key>
                <string>{91,22}</string>
            </dict>
            <key>enH1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{90,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,20}}</string>
                <key>sourceSize</key>
                <string>{90,20}</string>
            </dict>
            <key>enV0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,353},{20,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,60}}</string>
                <key>sourceSize</key>
                <string>{20,60}</string>
            </dict>
            <key>enV0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,415},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>enV1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,353},{22,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,60}}</string>
                <key>sourceSize</key>
                <string>{22,60}</string>
            </dict>
            <key>enV1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,353},{27,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,60}}</string>
                <key>sourceSize</key>
                <string>{27,60}</string>
            </dict>
            <key>slLD-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,94},{90,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,81}}</string>
                <key>sourceSize</key>
                <string>{90,81}</string>
            </dict>
            <key>slLU-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{90,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{90,94}</string>
            </dict>
            <key>slRD-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{91,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,81}}</string>
                <key>sourceSize</key>
                <string>{91,81}</string>
            </dict>
            <key>slRU-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>darkMountain3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4733aaff17edb9cfa76ca7a31bf1799a$</string>
            <key>textureFileName</key>
            <string>darkMountain3.png</string>
        </dict>
    </dict>
</plist>
