<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bsc-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,94},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,382},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,290},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,382},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,290},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>edD-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,156},{53,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,19}}</string>
                <key>sourceSize</key>
                <string>{53,19}</string>
            </dict>
            <key>edD-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,248},{53,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,19}}</string>
                <key>sourceSize</key>
                <string>{53,19}</string>
            </dict>
            <key>edU-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,278},{61,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,38}}</string>
                <key>sourceSize</key>
                <string>{61,38}</string>
            </dict>
            <key>edU-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,177},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>enH0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{90,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,39}}</string>
                <key>sourceSize</key>
                <string>{90,39}</string>
            </dict>
            <key>enH0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,186},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>enH0-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,94},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>enH0-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>enH1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{90,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,26}}</string>
                <key>sourceSize</key>
                <string>{90,26}</string>
            </dict>
            <key>enH1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,186},{90,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,27}}</string>
                <key>sourceSize</key>
                <string>{90,27}</string>
            </dict>
            <key>enH1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,94},{90,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,26}}</string>
                <key>sourceSize</key>
                <string>{90,26}</string>
            </dict>
            <key>enH1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,94},{90,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,27}}</string>
                <key>sourceSize</key>
                <string>{90,27}</string>
            </dict>
            <key>enV0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,94},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>enV0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,186},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>enV0-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{33,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,60}}</string>
                <key>sourceSize</key>
                <string>{33,60}</string>
            </dict>
            <key>enV1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,474},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>enV1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,474},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>enV1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,474},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>slLD-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,198},{90,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,79}}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>slLD-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{90,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,79}}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>slLU-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>slRD-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{90,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,79}}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>slRD-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{90,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,79}}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>slRU-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grassySoil.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07f5cf9db3377d1cfbb8cf8a5e72a80e$</string>
            <key>textureFileName</key>
            <string>grassySoil.png</string>
        </dict>
    </dict>
</plist>
