<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bsc-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,218},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,180},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,126},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>edD-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,94},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>edU-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,34}}</string>
                <key>sourceSize</key>
                <string>{95,34}</string>
            </dict>
            <key>enH0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{90,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,33}}</string>
                <key>sourceSize</key>
                <string>{90,33}</string>
            </dict>
            <key>enH0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,277},{90,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,33}}</string>
                <key>sourceSize</key>
                <string>{90,33}</string>
            </dict>
            <key>enH0-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,242},{90,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,33}}</string>
                <key>sourceSize</key>
                <string>{90,33}</string>
            </dict>
            <key>enH1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{90,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,29}}</string>
                <key>sourceSize</key>
                <string>{90,29}</string>
            </dict>
            <key>enH1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,312},{90,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,32}}</string>
                <key>sourceSize</key>
                <string>{90,32}</string>
            </dict>
            <key>enV0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{33,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,60}}</string>
                <key>sourceSize</key>
                <string>{33,60}</string>
            </dict>
            <key>enV0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{34,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,60}}</string>
                <key>sourceSize</key>
                <string>{34,60}</string>
            </dict>
            <key>enV1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,310},{34,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,60}}</string>
                <key>sourceSize</key>
                <string>{34,60}</string>
            </dict>
            <key>enV1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{33,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,60}}</string>
                <key>sourceSize</key>
                <string>{33,60}</string>
            </dict>
            <key>slLD-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{91,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,85}}</string>
                <key>sourceSize</key>
                <string>{91,85}</string>
            </dict>
            <key>slLU-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,89},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>slRD-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>slRU-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snowyDarkrock.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db0f597ed1c11f2caeda59770ac45d24$</string>
            <key>textureFileName</key>
            <string>snowyDarkrock.png</string>
        </dict>
    </dict>
</plist>
