<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bsc-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,304},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,242},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,232},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>bsc-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,180},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>edD-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,31},{41,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,24}}</string>
                <key>sourceSize</key>
                <string>{41,24}</string>
            </dict>
            <key>edD-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{42,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,27}}</string>
                <key>sourceSize</key>
                <string>{42,27}</string>
            </dict>
            <key>edU-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,149},{65,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,40}}</string>
                <key>sourceSize</key>
                <string>{65,40}</string>
            </dict>
            <key>edU-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,191},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>enH0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{90,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,39}}</string>
                <key>sourceSize</key>
                <string>{90,39}</string>
            </dict>
            <key>enH0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,57},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>enH0-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{90,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,39}}</string>
                <key>sourceSize</key>
                <string>{90,39}</string>
            </dict>
            <key>enH1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{90,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,37}}</string>
                <key>sourceSize</key>
                <string>{90,37}</string>
            </dict>
            <key>enH1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,405},{90,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,34}}</string>
                <key>sourceSize</key>
                <string>{90,34}</string>
            </dict>
            <key>enH1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,366},{90,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,37}}</string>
                <key>sourceSize</key>
                <string>{90,37}</string>
            </dict>
            <key>enV0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,389},{25,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,60}}</string>
                <key>sourceSize</key>
                <string>{25,60}</string>
            </dict>
            <key>enV0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,416},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>enV1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,357},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>enV1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,324},{31,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,60}}</string>
                <key>sourceSize</key>
                <string>{31,60}</string>
            </dict>
            <key>slLD-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,94},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>slLU-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{90,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
            <key>slRD-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{90,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,87}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>slRU-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snowyRord.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96b2d5b2a1321c106df34b42bfc02c6e$</string>
            <key>textureFileName</key>
            <string>snowyRord.png</string>
        </dict>
    </dict>
</plist>
