<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stabOF-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,59},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>sit-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,57},{19,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,7}}</string>
                <key>sourceSize</key>
                <string>{19,7}</string>
            </dict>
            <key>walk1-3-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,134},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>walk1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,194},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>fly-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,118},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>swingO3-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,43},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>walk1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,179},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>shoot2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,0},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>proneStab-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,28},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>swingO2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,76},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>fly-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,60},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>stand1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,104},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>stand1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,14},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>swingO1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,43},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>stand1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,90},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>alert-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,166},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
            <key>swingT1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,135},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>swingP1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,121},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>ladder-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,153},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>swingTF-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,28},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>ladder-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,185},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>walk1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,76},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>alert-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,0},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>jump-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,107},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>shoot1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,62},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>alert-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,140},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>swingP2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,92},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
            <key>shootF-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,49},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>swingPF-3-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,169},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>shootF-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,14},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>swingOF-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,30},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>stabT2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,138},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>rope-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,122},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>swingO1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,155},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>stabO2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,78},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>swingO3-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,0},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>swingTF-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,185},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>swingO3-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,171},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>swingO2-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,94},{21,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,14}}</string>
                <key>sourceSize</key>
                <string>{21,14}</string>
            </dict>
            <key>swingO2-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,62},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>rope-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,109},{23,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,12}}</string>
                <key>sourceSize</key>
                <string>{23,12}</string>
            </dict>
            <key>swingP2-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,46},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>swingT3-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,30},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>swingT2-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,15},{21,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,14}}</string>
                <key>sourceSize</key>
                <string>{21,14}</string>
            </dict>
            <key>swingP1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,124},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>swingT1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,155},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>swingTF-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,140},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>swingT2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,186},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>stabOF-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,0},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>stabT1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,124},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,15}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>swingT3-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,109},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>stabO1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,173},{25,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,12}}</string>
                <key>sourceSize</key>
                <string>{25,12}</string>
            </dict>
            <key>stabT2-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,41},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>swingOF-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,94},{24,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,14}}</string>
                <key>sourceSize</key>
                <string>{24,14}</string>
            </dict>
            <key>stabT1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,25},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>stabO1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,80},{26,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,13}}</string>
                <key>sourceSize</key>
                <string>{26,13}</string>
            </dict>
            <key>swingPF-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,67},{28,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,12}}</string>
                <key>sourceSize</key>
                <string>{28,12}</string>
            </dict>
            <key>stabTF-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,153},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>swingPF-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,186},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>swingPF-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{26,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,14}}</string>
                <key>sourceSize</key>
                <string>{26,14}</string>
            </dict>
            <key>stabO2-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{28,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,13}}</string>
                <key>sourceSize</key>
                <string>{28,13}</string>
            </dict>
            <key>swingOF-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>swingT2-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,139},{29,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,13}}</string>
                <key>sourceSize</key>
                <string>{29,13}</string>
            </dict>
            <key>swingP2-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,125},{29,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,13}}</string>
                <key>sourceSize</key>
                <string>{29,13}</string>
            </dict>
            <key>swingT3-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,111},{29,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,13}}</string>
                <key>sourceSize</key>
                <string>{29,13}</string>
            </dict>
            <key>swingT1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,97},{29,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,13}}</string>
                <key>sourceSize</key>
                <string>{29,13}</string>
            </dict>
            <key>swingP1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,83},{29,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,13}}</string>
                <key>sourceSize</key>
                <string>{29,13}</string>
            </dict>
            <key>swingOF-3-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,67},{27,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,15}}</string>
                <key>sourceSize</key>
                <string>{27,15}</string>
            </dict>
            <key>swingTF-3-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,53},{29,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,13}}</string>
                <key>sourceSize</key>
                <string>{29,13}</string>
            </dict>
            <key>swingO1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,39},{29,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,13}}</string>
                <key>sourceSize</key>
                <string>{29,13}</string>
            </dict>
            <key>stabOF-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,25},{29,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,13}}</string>
                <key>sourceSize</key>
                <string>{29,13}</string>
            </dict>
            <key>stabT1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,13},{32,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,11}}</string>
                <key>sourceSize</key>
                <string>{32,11}</string>
            </dict>
            <key>stabT2-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01060021.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>01060021.png</string>
        </dict>
    </dict>
</plist>
