<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>proneStab-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,193},{25,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,14}}</string>
                <key>sourceSize</key>
                <string>{25,14}</string>
            </dict>
            <key>ladder-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,17},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>swingO3-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,118},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>swingO1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,95},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>swingO3-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,186},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>swingO1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,74},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>rope-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,0},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>shootF-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,168},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>rope-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,54},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>swingO2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,36},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>ladder-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,17},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>swingTF-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,91},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>walk1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,150},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>walk1-3-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,73},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>stabOF-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,0},{29,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,16}}</string>
                <key>sourceSize</key>
                <string>{29,16}</string>
            </dict>
            <key>swingOF-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,129},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>stand1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,179},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>walk1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,55},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
            <key>alert-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,18},{28,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
            <key>swingO3-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,113},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>walk1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,163},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>sit-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,93},{28,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,19}}</string>
                <key>sourceSize</key>
                <string>{28,19}</string>
            </dict>
            <key>shoot1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,37},{30,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,17}}</string>
                <key>sourceSize</key>
                <string>{30,17}</string>
            </dict>
            <key>swingO2-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,146},{31,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,16}}</string>
                <key>sourceSize</key>
                <string>{31,16}</string>
            </dict>
            <key>swingT3-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,77},{32,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,15}}</string>
                <key>sourceSize</key>
                <string>{32,15}</string>
            </dict>
            <key>swingP2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,180},{30,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,17}}</string>
                <key>sourceSize</key>
                <string>{30,17}</string>
            </dict>
            <key>shoot2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,58},{29,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,18}}</string>
                <key>sourceSize</key>
                <string>{29,18}</string>
            </dict>
            <key>alert-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{30,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,17}}</string>
                <key>sourceSize</key>
                <string>{30,17}</string>
            </dict>
            <key>stand1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,37},{27,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>stabT1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,18},{30,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{30,18}</string>
            </dict>
            <key>alert-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,130},{33,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,15}}</string>
                <key>sourceSize</key>
                <string>{33,15}</string>
            </dict>
            <key>swingT1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,93},{31,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,17}}</string>
                <key>sourceSize</key>
                <string>{31,17}</string>
            </dict>
            <key>stand1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,159},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>swingT2-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,114},{33,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,15}}</string>
                <key>sourceSize</key>
                <string>{33,15}</string>
            </dict>
            <key>swingP2-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,180},{31,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,17}}</string>
                <key>sourceSize</key>
                <string>{31,17}</string>
            </dict>
            <key>swingP1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,57},{31,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,17}}</string>
                <key>sourceSize</key>
                <string>{31,17}</string>
            </dict>
            <key>fly-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,36},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>swingO2-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,0},{32,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>swingP1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,159},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>swingT1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,93},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>stabO2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,18},{32,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>fly-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,138},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>swingTF-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,75},{34,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{34,17}</string>
            </dict>
            <key>shootF-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,116},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>swingTF-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,183},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>stabO1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,138},{31,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>swingPF-3-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,116},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>stabT2-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,96},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>swingT3-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,75},{31,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>stabT2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,55},{33,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,19}}</string>
                <key>sourceSize</key>
                <string>{33,19}</string>
            </dict>
            <key>jump-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,37},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>stabT1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,18},{34,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,18}}</string>
                <key>sourceSize</key>
                <string>{34,18}</string>
            </dict>
            <key>stabOF-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,0},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>swingT2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,183},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>swingOF-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,167},{38,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,15}}</string>
                <key>sourceSize</key>
                <string>{38,15}</string>
            </dict>
            <key>swingOF-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,40},{36,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,17}}</string>
                <key>sourceSize</key>
                <string>{36,17}</string>
            </dict>
            <key>swingPF-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{39,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,15}}</string>
                <key>sourceSize</key>
                <string>{39,15}</string>
            </dict>
            <key>swingPF-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,0},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>stabTF-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,167},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>swingOF-3-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,147},{40,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,19}}</string>
                <key>sourceSize</key>
                <string>{40,19}</string>
            </dict>
            <key>stabO1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,126},{39,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,20}}</string>
                <key>sourceSize</key>
                <string>{39,20}</string>
            </dict>
            <key>swingT2-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,104},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>swingP2-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,82},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>swingT1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,60},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>swingT3-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>swingP1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>swingO1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>stabO2-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>swingTF-3-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>stabOF-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,60},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>stabT1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,40},{41,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,19}}</string>
                <key>sourceSize</key>
                <string>{41,19}</string>
            </dict>
            <key>swingPF-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,20},{42,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,19}}</string>
                <key>sourceSize</key>
                <string>{42,19}</string>
            </dict>
            <key>stabT2-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{42,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,19}}</string>
                <key>sourceSize</key>
                <string>{42,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01062167.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>01062167.png</string>
        </dict>
    </dict>
</plist>
