<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stabOF-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,95},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>walk1-3-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,110},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>proneStab-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,109},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>walk1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,109},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>fly-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>walk1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,108},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>swingOF-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,78},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>sit-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,107},{20,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,9}}</string>
                <key>sourceSize</key>
                <string>{20,9}</string>
            </dict>
            <key>swingO1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,107},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>swingTF-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,107},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>ladder-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,97},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>swingO3-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,96},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>swingTF-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,95},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>stand1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,95},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>stand1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,94},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>ladder-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,94},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>alert-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,94},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>alert-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,93},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>swingP2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,93},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
            <key>stand1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,93},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>walk1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,92},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
            <key>swingT2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,83},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>alert-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,79},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>swingP1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,78},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>swingT1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,77},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>rope-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,79},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>swingPF-3-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,78},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>swingO3-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,78},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>shoot2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,77},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>swingO2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,76},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>fly-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,76},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>shoot1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,67},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>swingTF-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,64},{21,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,14}}</string>
                <key>sourceSize</key>
                <string>{21,14}</string>
            </dict>
            <key>rope-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,66},{23,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,12}}</string>
                <key>sourceSize</key>
                <string>{23,12}</string>
            </dict>
            <key>swingO2-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,62},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>swingT1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,61},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>jump-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,19},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>stabTF-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,61},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>swingP2-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,61},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>swingT2-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,60},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>swingPF-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,60},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>swingP1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,50},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>swingO2-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,49},{21,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,16}}</string>
                <key>sourceSize</key>
                <string>{21,16}</string>
            </dict>
            <key>swingOF-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,48},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,15}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>swingO1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,47},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>swingT3-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,46},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>shootF-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,46},{24,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,13}}</string>
                <key>sourceSize</key>
                <string>{24,13}</string>
            </dict>
            <key>swingO3-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,46},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>swingT3-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,43},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>stabT2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,43},{21,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,16}}</string>
                <key>sourceSize</key>
                <string>{21,16}</string>
            </dict>
            <key>swingPF-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,34},{25,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,12}}</string>
                <key>sourceSize</key>
                <string>{25,12}</string>
            </dict>
            <key>swingOF-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,34},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>swingPF-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,33},{27,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,12}}</string>
                <key>sourceSize</key>
                <string>{27,12}</string>
            </dict>
            <key>shootF-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,32},{24,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,15}}</string>
                <key>sourceSize</key>
                <string>{24,15}</string>
            </dict>
            <key>stabO2-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,32},{23,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,16}}</string>
                <key>sourceSize</key>
                <string>{23,16}</string>
            </dict>
            <key>swingP2-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,31},{26,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,14}}</string>
                <key>sourceSize</key>
                <string>{26,14}</string>
            </dict>
            <key>swingP1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,28},{26,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,14}}</string>
                <key>sourceSize</key>
                <string>{26,14}</string>
            </dict>
            <key>swingOF-3-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,28},{26,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,14}}</string>
                <key>sourceSize</key>
                <string>{26,14}</string>
            </dict>
            <key>stabO1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,19},{26,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,14}}</string>
                <key>sourceSize</key>
                <string>{26,14}</string>
            </dict>
            <key>swingT3-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,18},{26,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,14}}</string>
                <key>sourceSize</key>
                <string>{26,14}</string>
            </dict>
            <key>stabOF-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,17},{26,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,14}}</string>
                <key>sourceSize</key>
                <string>{26,14}</string>
            </dict>
            <key>swingT2-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,17},{26,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,14}}</string>
                <key>sourceSize</key>
                <string>{26,14}</string>
            </dict>
            <key>swingTF-3-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,16},{26,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,14}}</string>
                <key>sourceSize</key>
                <string>{26,14}</string>
            </dict>
            <key>stabT2-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>swingO1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,13},{27,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,14}}</string>
                <key>sourceSize</key>
                <string>{27,14}</string>
            </dict>
            <key>swingT1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,13},{27,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,14}}</string>
                <key>sourceSize</key>
                <string>{27,14}</string>
            </dict>
            <key>stabT1-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>stabO2-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,0},{26,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,15}</string>
            </dict>
            <key>stabT1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,0},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>stabT2-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{30,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,12}}</string>
                <key>sourceSize</key>
                <string>{30,12}</string>
            </dict>
            <key>stabOF-1-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,0},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>stabT1-2-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,0},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>stabO1-0-pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{29,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,16}}</string>
                <key>sourceSize</key>
                <string>{29,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01060108.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>01060108.png</string>
        </dict>
    </dict>
</plist>
