<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walk1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,677},{22,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,9}}</string>
                <key>sourceSize</key>
                <string>{22,9}</string>
            </dict>
            <key>walk1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,677},{22,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,9}}</string>
                <key>sourceSize</key>
                <string>{22,9}</string>
            </dict>
            <key>walk1-3-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,166},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>fly-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,263},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>fly-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,445},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>jump-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,445},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>stand1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,153},{22,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,12}</string>
            </dict>
            <key>alert-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,139},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
            <key>alert-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,167},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
            <key>alert-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,153},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
            <key>walk1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,139},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
            <key>stabOF-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,522},{76,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,44}}</string>
                <key>sourceSize</key>
                <string>{76,44}</string>
            </dict>
            <key>proneStab-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,263},{84,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,41}}</string>
                <key>sourceSize</key>
                <string>{84,41}</string>
            </dict>
            <key>swingOF-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,59},{48,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,79}}</string>
                <key>sourceSize</key>
                <string>{48,79}</string>
            </dict>
            <key>swingO2-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,0},{87,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,55}}</string>
                <key>sourceSize</key>
                <string>{87,55}</string>
            </dict>
            <key>stabO2-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,467},{92,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,54}}</string>
                <key>sourceSize</key>
                <string>{92,54}</string>
            </dict>
            <key>swingO1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,126},{99,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,66}}</string>
                <key>sourceSize</key>
                <string>{99,66}</string>
            </dict>
            <key>swingO3-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,365},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>stabOF-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,295},{114,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,69}}</string>
                <key>sourceSize</key>
                <string>{114,69}</string>
            </dict>
            <key>swingO2-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,575},{81,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,105}}</string>
                <key>sourceSize</key>
                <string>{81,105}</string>
            </dict>
            <key>shoot1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,0},{62,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,125}}</string>
                <key>sourceSize</key>
                <string>{62,125}</string>
            </dict>
            <key>swingOF-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,193},{88,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,101}}</string>
                <key>sourceSize</key>
                <string>{88,101}</string>
            </dict>
            <key>shootF-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,445},{63,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,129}}</string>
                <key>sourceSize</key>
                <string>{63,129}</string>
            </dict>
            <key>stabO1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,376},{124,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,68}}</string>
                <key>sourceSize</key>
                <string>{124,68}</string>
            </dict>
            <key>proneStab-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,193},{123,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,69}}</string>
                <key>sourceSize</key>
                <string>{123,69}</string>
            </dict>
            <key>stabO2-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,618},{126,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,68}}</string>
                <key>sourceSize</key>
                <string>{126,68}</string>
            </dict>
            <key>shoot1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,59},{63,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,133}}</string>
                <key>sourceSize</key>
                <string>{63,133}</string>
            </dict>
            <key>shootF-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,470},{80,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>swingOF-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,59},{74,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,133}}</string>
                <key>sourceSize</key>
                <string>{74,133}</string>
            </dict>
            <key>shoot1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,470},{61,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,147}}</string>
                <key>sourceSize</key>
                <string>{61,147}</string>
            </dict>
            <key>swingO1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,376},{117,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{117,93}}</string>
                <key>sourceSize</key>
                <string>{117,93}</string>
            </dict>
            <key>stabO1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,0},{189,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{189,58}}</string>
                <key>sourceSize</key>
                <string>{189,58}</string>
            </dict>
            <key>stabOF-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,306},{203,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{203,69}}</string>
                <key>sourceSize</key>
                <string>{203,69}</string>
            </dict>
            <key>swingOF-3-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,593},{199,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{199,83}}</string>
                <key>sourceSize</key>
                <string>{199,83}</string>
            </dict>
            <key>swingO3-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,481},{206,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{206,111}}</string>
                <key>sourceSize</key>
                <string>{206,111}</string>
            </dict>
            <key>swingO2-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{162,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{162,174}}</string>
                <key>sourceSize</key>
                <string>{162,174}</string>
            </dict>
            <key>swingO3-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,185},{216,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{216,120}}</string>
                <key>sourceSize</key>
                <string>{216,120}</string>
            </dict>
            <key>swingO1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{162,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{162,184}}</string>
                <key>sourceSize</key>
                <string>{162,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01382063.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>01382063.png</string>
        </dict>
    </dict>
</plist>
