<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walk1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,182},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,36}}</string>
                <key>sourceSize</key>
                <string>{84,36}</string>
            </dict>
            <key>swingO3-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,344},{36,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,84}}</string>
                <key>sourceSize</key>
                <string>{36,84}</string>
            </dict>
            <key>swingO2-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,37},{36,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,84}}</string>
                <key>sourceSize</key>
                <string>{36,84}</string>
            </dict>
            <key>swingO1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,344},{36,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,84}}</string>
                <key>sourceSize</key>
                <string>{36,84}</string>
            </dict>
            <key>swingO1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,307},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,36}}</string>
                <key>sourceSize</key>
                <string>{84,36}</string>
            </dict>
            <key>stabO2-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,0},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,36}}</string>
                <key>sourceSize</key>
                <string>{84,36}</string>
            </dict>
            <key>stabO2-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,145},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,36}}</string>
                <key>sourceSize</key>
                <string>{84,36}</string>
            </dict>
            <key>stabO1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,270},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,36}}</string>
                <key>sourceSize</key>
                <string>{84,36}</string>
            </dict>
            <key>walk1-3-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,233},{85,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,36}}</string>
                <key>sourceSize</key>
                <string>{85,36}</string>
            </dict>
            <key>swingO2-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,358},{36,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,85}}</string>
                <key>sourceSize</key>
                <string>{36,85}</string>
            </dict>
            <key>stand1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,108},{85,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,36}}</string>
                <key>sourceSize</key>
                <string>{85,36}</string>
            </dict>
            <key>stabO1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,72},{88,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,35}}</string>
                <key>sourceSize</key>
                <string>{88,35}</string>
            </dict>
            <key>shoot1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,233},{35,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,88}}</string>
                <key>sourceSize</key>
                <string>{35,88}</string>
            </dict>
            <key>shoot1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,358},{35,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,88}}</string>
                <key>sourceSize</key>
                <string>{35,88}</string>
            </dict>
            <key>proneStab-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,322},{88,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,35}}</string>
                <key>sourceSize</key>
                <string>{88,35}</string>
            </dict>
            <key>shootF-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,233},{35,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,88}}</string>
                <key>sourceSize</key>
                <string>{35,88}</string>
            </dict>
            <key>swingO1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,197},{88,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,35}}</string>
                <key>sourceSize</key>
                <string>{88,35}</string>
            </dict>
            <key>proneStab-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,161},{88,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,35}}</string>
                <key>sourceSize</key>
                <string>{88,35}</string>
            </dict>
            <key>shootF-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,72},{35,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,88}}</string>
                <key>sourceSize</key>
                <string>{35,88}</string>
            </dict>
            <key>walk1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,36},{88,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,35}}</string>
                <key>sourceSize</key>
                <string>{88,35}</string>
            </dict>
            <key>walk1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{88,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,35}}</string>
                <key>sourceSize</key>
                <string>{88,35}</string>
            </dict>
            <key>swingO3-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{88,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,35}}</string>
                <key>sourceSize</key>
                <string>{88,35}</string>
            </dict>
            <key>swingO3-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{88,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,35}}</string>
                <key>sourceSize</key>
                <string>{88,35}</string>
            </dict>
            <key>alert-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>jump-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>fly-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>alert-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>swingO2-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>alert-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01382009.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>01382009.png</string>
        </dict>
    </dict>
</plist>
