<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swingO1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,109},{72,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,15}}</string>
                <key>sourceSize</key>
                <string>{72,15}</string>
            </dict>
            <key>swingO3-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,93},{72,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,15}}</string>
                <key>sourceSize</key>
                <string>{72,15}</string>
            </dict>
            <key>swingO2-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,160},{17,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,82}}</string>
                <key>sourceSize</key>
                <string>{17,82}</string>
            </dict>
            <key>swingO2-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,160},{17,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,82}}</string>
                <key>sourceSize</key>
                <string>{17,82}</string>
            </dict>
            <key>walk1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,181},{82,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,17}}</string>
                <key>sourceSize</key>
                <string>{82,17}</string>
            </dict>
            <key>proneStab-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{82,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,17}}</string>
                <key>sourceSize</key>
                <string>{82,17}</string>
            </dict>
            <key>proneStab-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,163},{82,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,17}}</string>
                <key>sourceSize</key>
                <string>{82,17}</string>
            </dict>
            <key>shoot1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,160},{17,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,82}}</string>
                <key>sourceSize</key>
                <string>{17,82}</string>
            </dict>
            <key>shoot1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,142},{17,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,82}}</string>
                <key>sourceSize</key>
                <string>{17,82}</string>
            </dict>
            <key>shootF-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,80},{17,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,82}}</string>
                <key>sourceSize</key>
                <string>{17,82}</string>
            </dict>
            <key>shootF-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,80},{17,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,82}}</string>
                <key>sourceSize</key>
                <string>{17,82}</string>
            </dict>
            <key>stabO1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{82,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,17}}</string>
                <key>sourceSize</key>
                <string>{82,17}</string>
            </dict>
            <key>walk1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,142},{82,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,17}}</string>
                <key>sourceSize</key>
                <string>{82,17}</string>
            </dict>
            <key>stand1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{80,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,26}}</string>
                <key>sourceSize</key>
                <string>{80,26}</string>
            </dict>
            <key>walk1-3-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,93},{80,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,26}}</string>
                <key>sourceSize</key>
                <string>{80,26}</string>
            </dict>
            <key>swingO2-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,80},{26,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,80}}</string>
                <key>sourceSize</key>
                <string>{26,80}</string>
            </dict>
            <key>swingO1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,80},{30,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,79}}</string>
                <key>sourceSize</key>
                <string>{30,79}</string>
            </dict>
            <key>jump-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,62},{30,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,79}}</string>
                <key>sourceSize</key>
                <string>{30,79}</string>
            </dict>
            <key>stabO1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,62},{79,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,30}}</string>
                <key>sourceSize</key>
                <string>{79,30}</string>
            </dict>
            <key>fly-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,0},{30,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,79}}</string>
                <key>sourceSize</key>
                <string>{30,79}</string>
            </dict>
            <key>swingO3-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{30,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,79}}</string>
                <key>sourceSize</key>
                <string>{30,79}</string>
            </dict>
            <key>swingO3-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{79,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,30}}</string>
                <key>sourceSize</key>
                <string>{79,30}</string>
            </dict>
            <key>alert-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,31},{79,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,30}}</string>
                <key>sourceSize</key>
                <string>{79,30}</string>
            </dict>
            <key>alert-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,31},{79,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,30}}</string>
                <key>sourceSize</key>
                <string>{79,30}</string>
            </dict>
            <key>walk1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{79,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,30}}</string>
                <key>sourceSize</key>
                <string>{79,30}</string>
            </dict>
            <key>alert-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{79,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,30}}</string>
                <key>sourceSize</key>
                <string>{79,30}</string>
            </dict>
            <key>swingO1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01382004.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>01382004.png</string>
        </dict>
    </dict>
</plist>
