<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swingP1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,153},{39,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,112}}</string>
                <key>sourceSize</key>
                <string>{39,112}</string>
            </dict>
            <key>swingP1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,113},{112,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,39}}</string>
                <key>sourceSize</key>
                <string>{112,39}</string>
            </dict>
            <key>swingP2-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{39,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,112}}</string>
                <key>sourceSize</key>
                <string>{39,112}</string>
            </dict>
            <key>swingT2-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,280},{39,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,112}}</string>
                <key>sourceSize</key>
                <string>{39,112}</string>
            </dict>
            <key>swingPF-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,404},{112,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,39}}</string>
                <key>sourceSize</key>
                <string>{112,39}</string>
            </dict>
            <key>swingP2-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,240},{112,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,39}}</string>
                <key>sourceSize</key>
                <string>{112,39}</string>
            </dict>
            <key>swingPF-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,200},{112,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,39}}</string>
                <key>sourceSize</key>
                <string>{112,39}</string>
            </dict>
            <key>stabT1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,160},{112,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,39}}</string>
                <key>sourceSize</key>
                <string>{112,39}</string>
            </dict>
            <key>stabT1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,120},{112,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,39}}</string>
                <key>sourceSize</key>
                <string>{112,39}</string>
            </dict>
            <key>stabT2-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,80},{112,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,39}}</string>
                <key>sourceSize</key>
                <string>{112,39}</string>
            </dict>
            <key>stabT2-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,40},{112,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,39}}</string>
                <key>sourceSize</key>
                <string>{112,39}</string>
            </dict>
            <key>stabT2-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,0},{112,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,39}}</string>
                <key>sourceSize</key>
                <string>{112,39}</string>
            </dict>
            <key>swingT2-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,404},{112,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,40}}</string>
                <key>sourceSize</key>
                <string>{112,40}</string>
            </dict>
            <key>stabT1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,366},{116,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{116,37}}</string>
                <key>sourceSize</key>
                <string>{116,37}</string>
            </dict>
            <key>swingPF-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,328},{116,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{116,37}}</string>
                <key>sourceSize</key>
                <string>{116,37}</string>
            </dict>
            <key>proneStab-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,290},{116,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{116,37}}</string>
                <key>sourceSize</key>
                <string>{116,37}</string>
            </dict>
            <key>proneStab-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,252},{116,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{116,37}}</string>
                <key>sourceSize</key>
                <string>{116,37}</string>
            </dict>
            <key>alert-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,189},{102,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,62}}</string>
                <key>sourceSize</key>
                <string>{102,62}</string>
            </dict>
            <key>alert-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,126},{102,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,62}}</string>
                <key>sourceSize</key>
                <string>{102,62}</string>
            </dict>
            <key>swingP1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,63},{102,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,62}}</string>
                <key>sourceSize</key>
                <string>{102,62}</string>
            </dict>
            <key>alert-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,0},{102,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,62}}</string>
                <key>sourceSize</key>
                <string>{102,62}</string>
            </dict>
            <key>swingPF-3-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,375},{102,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,62}}</string>
                <key>sourceSize</key>
                <string>{102,62}</string>
            </dict>
            <key>swingT2-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,312},{102,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,62}}</string>
                <key>sourceSize</key>
                <string>{102,62}</string>
            </dict>
            <key>walk2-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,312},{78,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,89}}</string>
                <key>sourceSize</key>
                <string>{78,89}</string>
            </dict>
            <key>swingP2-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,234},{91,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,77}}</string>
                <key>sourceSize</key>
                <string>{91,77}</string>
            </dict>
            <key>stabTF-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,156},{91,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,77}}</string>
                <key>sourceSize</key>
                <string>{91,77}</string>
            </dict>
            <key>walk2-3-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,78},{91,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,77}}</string>
                <key>sourceSize</key>
                <string>{91,77}</string>
            </dict>
            <key>fly-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{91,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,77}}</string>
                <key>sourceSize</key>
                <string>{91,77}</string>
            </dict>
            <key>jump-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{91,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,77}}</string>
                <key>sourceSize</key>
                <string>{91,77}</string>
            </dict>
            <key>stand2-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>walk2-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>stand2-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>stand2-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01432180.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>01432180.png</string>
        </dict>
    </dict>
</plist>
