<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swingPF-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,294},{104,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,16}}</string>
                <key>sourceSize</key>
                <string>{104,16}</string>
            </dict>
            <key>proneStab-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,277},{104,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,16}}</string>
                <key>sourceSize</key>
                <string>{104,16}</string>
            </dict>
            <key>proneStab-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,260},{104,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,16}}</string>
                <key>sourceSize</key>
                <string>{104,16}</string>
            </dict>
            <key>stabT1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,298},{104,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,16}}</string>
                <key>sourceSize</key>
                <string>{104,16}</string>
            </dict>
            <key>swingT2-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,160},{31,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,99}}</string>
                <key>sourceSize</key>
                <string>{31,99}</string>
            </dict>
            <key>swingP1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,160},{31,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,99}}</string>
                <key>sourceSize</key>
                <string>{31,99}</string>
            </dict>
            <key>swingP2-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,160},{31,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,99}}</string>
                <key>sourceSize</key>
                <string>{31,99}</string>
            </dict>
            <key>stabT1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,128},{100,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>stabT1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,96},{100,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>swingT2-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,64},{100,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>stabT2-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,32},{100,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>stabT2-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{100,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>stabT2-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,266},{100,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>swingPF-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,234},{100,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>swingPF-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,202},{100,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>swingP2-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,170},{100,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>swingPF-3-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,138},{100,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>swingP1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,286},{100,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>swingP1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,286},{100,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>fly-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,69},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>stand2-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,0},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>alert-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,217},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>jump-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,148},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>alert-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,79},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>stand2-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>stabTF-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,217},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>alert-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,148},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>walk2-3-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,79},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>walk2-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,0},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>stand2-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,225},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>walk2-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>swingP2-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,75},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>swingT2-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01432124.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>01432124.png</string>
        </dict>
    </dict>
</plist>
