<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walk1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{93,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,44}}</string>
                <key>sourceSize</key>
                <string>{93,44}</string>
            </dict>
            <key>swingT1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,412},{93,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,44}}</string>
                <key>sourceSize</key>
                <string>{93,44}</string>
            </dict>
            <key>stand1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,408},{93,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,44}}</string>
                <key>sourceSize</key>
                <string>{93,44}</string>
            </dict>
            <key>stand1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,407},{93,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,44}}</string>
                <key>sourceSize</key>
                <string>{93,44}</string>
            </dict>
            <key>stand1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,367},{93,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,44}}</string>
                <key>sourceSize</key>
                <string>{93,44}</string>
            </dict>
            <key>swingT3-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,363},{93,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,44}}</string>
                <key>sourceSize</key>
                <string>{93,44}</string>
            </dict>
            <key>proneStab-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{93,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,44}}</string>
                <key>sourceSize</key>
                <string>{93,44}</string>
            </dict>
            <key>proneStab-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,318},{93,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,44}}</string>
                <key>sourceSize</key>
                <string>{93,44}</string>
            </dict>
            <key>shoot1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,273},{44,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,93}}</string>
                <key>sourceSize</key>
                <string>{44,93}</string>
            </dict>
            <key>walk1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,273},{93,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,44}}</string>
                <key>sourceSize</key>
                <string>{93,44}</string>
            </dict>
            <key>shoot1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,268},{48,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,93}}</string>
                <key>sourceSize</key>
                <string>{48,93}</string>
            </dict>
            <key>shootF-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,268},{49,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,93}}</string>
                <key>sourceSize</key>
                <string>{49,93}</string>
            </dict>
            <key>jump-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{58,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{58,90}</string>
            </dict>
            <key>fly-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,182},{58,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{58,90}</string>
            </dict>
            <key>fly-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,182},{58,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{58,90}</string>
            </dict>
            <key>alert-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,177},{58,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{58,90}</string>
            </dict>
            <key>alert-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,177},{58,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{58,90}</string>
            </dict>
            <key>swingT1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{58,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{58,90}</string>
            </dict>
            <key>swingT1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,118},{90,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,58}}</string>
                <key>sourceSize</key>
                <string>{90,58}</string>
            </dict>
            <key>swingT3-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{90,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,58}}</string>
                <key>sourceSize</key>
                <string>{90,58}</string>
            </dict>
            <key>alert-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,91},{58,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{58,90}</string>
            </dict>
            <key>swingT3-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,0},{58,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{58,90}</string>
            </dict>
            <key>walk1-3-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,59},{90,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,58}}</string>
                <key>sourceSize</key>
                <string>{90,58}</string>
            </dict>
            <key>walk1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{90,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,58}}</string>
                <key>sourceSize</key>
                <string>{90,58}</string>
            </dict>
            <key>shoot1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,0},{60,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,93}}</string>
                <key>sourceSize</key>
                <string>{60,93}</string>
            </dict>
            <key>shootF-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,93}}</string>
                <key>sourceSize</key>
                <string>{64,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01452252.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>01452252.png</string>
        </dict>
    </dict>
</plist>
