<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walk1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,466},{101,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,42}}</string>
                <key>sourceSize</key>
                <string>{101,42}</string>
            </dict>
            <key>stand1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,460},{101,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,42}}</string>
                <key>sourceSize</key>
                <string>{101,42}</string>
            </dict>
            <key>stand1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,423},{101,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,42}}</string>
                <key>sourceSize</key>
                <string>{101,42}</string>
            </dict>
            <key>stand1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,417},{101,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,42}}</string>
                <key>sourceSize</key>
                <string>{101,42}</string>
            </dict>
            <key>swingT1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,380},{101,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,42}}</string>
                <key>sourceSize</key>
                <string>{101,42}</string>
            </dict>
            <key>shoot1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,294},{42,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,101}}</string>
                <key>sourceSize</key>
                <string>{42,101}</string>
            </dict>
            <key>proneStab-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{101,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,42}}</string>
                <key>sourceSize</key>
                <string>{101,42}</string>
            </dict>
            <key>proneStab-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,337},{101,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,42}}</string>
                <key>sourceSize</key>
                <string>{101,42}</string>
            </dict>
            <key>shoot1-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,294},{42,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,101}}</string>
                <key>sourceSize</key>
                <string>{42,101}</string>
            </dict>
            <key>swingT3-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,294},{101,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,42}}</string>
                <key>sourceSize</key>
                <string>{101,42}</string>
            </dict>
            <key>shootF-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,272},{43,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,101}}</string>
                <key>sourceSize</key>
                <string>{43,101}</string>
            </dict>
            <key>jump-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{57,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,97}}</string>
                <key>sourceSize</key>
                <string>{57,97}</string>
            </dict>
            <key>fly-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,196},{57,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,97}}</string>
                <key>sourceSize</key>
                <string>{57,97}</string>
            </dict>
            <key>fly-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,196},{57,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,97}}</string>
                <key>sourceSize</key>
                <string>{57,97}</string>
            </dict>
            <key>alert-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,174},{57,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,97}}</string>
                <key>sourceSize</key>
                <string>{57,97}</string>
            </dict>
            <key>alert-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,174},{57,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,97}}</string>
                <key>sourceSize</key>
                <string>{57,97}</string>
            </dict>
            <key>alert-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{57,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,97}}</string>
                <key>sourceSize</key>
                <string>{57,97}</string>
            </dict>
            <key>swingT1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,98},{57,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,97}}</string>
                <key>sourceSize</key>
                <string>{57,97}</string>
            </dict>
            <key>swingT1-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,116},{97,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,57}}</string>
                <key>sourceSize</key>
                <string>{97,57}</string>
            </dict>
            <key>swingT3-0-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{97,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,57}}</string>
                <key>sourceSize</key>
                <string>{97,57}</string>
            </dict>
            <key>walk1-3-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,58},{97,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,57}}</string>
                <key>sourceSize</key>
                <string>{97,57}</string>
            </dict>
            <key>swingT3-2-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,0},{57,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,97}}</string>
                <key>sourceSize</key>
                <string>{57,97}</string>
            </dict>
            <key>walk1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,0},{97,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,57}}</string>
                <key>sourceSize</key>
                <string>{97,57}</string>
            </dict>
            <key>shoot1-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{56,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,101}}</string>
                <key>sourceSize</key>
                <string>{56,101}</string>
            </dict>
            <key>shootF-1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{59,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,101}}</string>
                <key>sourceSize</key>
                <string>{59,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01452165.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>01452165.png</string>
        </dict>
    </dict>
</plist>
