<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,131},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>die1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,116},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>stand-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{63,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,55}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>move-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,116},{63,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,55}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>move-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,60},{64,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,55}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>die1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>stand-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,65},{63,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,58}}</string>
                <key>sourceSize</key>
                <string>{63,58}</string>
            </dict>
            <key>jump-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,0},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>move-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>hit1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2220100.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>2220100.png</string>
        </dict>
    </dict>
</plist>
