<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack1-info-hit-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,926},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>attack1-info-effect-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>attack1-info-effect-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,926},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>attack1-info-effect-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,407},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{32,42}</string>
            </dict>
            <key>attack1-info-effect-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,407},{41,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,53}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>attack1-info-effect-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,792},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>attack1-info-effect-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,712},{61,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,79}}</string>
                <key>sourceSize</key>
                <string>{61,79}</string>
            </dict>
            <key>attack1-info-effect-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{82,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,71}}</string>
                <key>sourceSize</key>
                <string>{82,71}</string>
            </dict>
            <key>attack1-info-effect-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,712},{90,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,71}}</string>
                <key>sourceSize</key>
                <string>{90,71}</string>
            </dict>
            <key>attack1-info-effect-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,805},{88,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,75}}</string>
                <key>sourceSize</key>
                <string>{88,75}</string>
            </dict>
            <key>die1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,888},{156,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{156,34}}</string>
                <key>sourceSize</key>
                <string>{156,34}</string>
            </dict>
            <key>die1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,643},{138,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,68}}</string>
                <key>sourceSize</key>
                <string>{138,68}</string>
            </dict>
            <key>die1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,341},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>stand-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,543},{118,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,99}}</string>
                <key>sourceSize</key>
                <string>{118,99}</string>
            </dict>
            <key>die1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,477},{154,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{154,65}}</string>
                <key>sourceSize</key>
                <string>{154,65}</string>
            </dict>
            <key>attack1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,103},{118,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,102}}</string>
                <key>sourceSize</key>
                <string>{118,102}</string>
            </dict>
            <key>move-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,238},{118,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,102}}</string>
                <key>sourceSize</key>
                <string>{118,102}</string>
            </dict>
            <key>skill1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,785},{118,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,102}}</string>
                <key>sourceSize</key>
                <string>{118,102}</string>
            </dict>
            <key>move-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,0},{118,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,102}}</string>
                <key>sourceSize</key>
                <string>{118,102}</string>
            </dict>
            <key>move-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,370},{118,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,106}}</string>
                <key>sourceSize</key>
                <string>{118,106}</string>
            </dict>
            <key>skill1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,679},{120,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,105}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>attack1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,805},{120,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,105}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>move-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,112},{118,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,125}}</string>
                <key>sourceSize</key>
                <string>{118,125}</string>
            </dict>
            <key>move-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,553},{118,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,125}}</string>
                <key>sourceSize</key>
                <string>{118,125}</string>
            </dict>
            <key>skill1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,679},{118,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,125}}</string>
                <key>sourceSize</key>
                <string>{118,125}</string>
            </dict>
            <key>attack1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,553},{118,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,125}}</string>
                <key>sourceSize</key>
                <string>{118,125}</string>
            </dict>
            <key>attack1-info-effect-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,511},{209,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{209,41}}</string>
                <key>sourceSize</key>
                <string>{209,41}</string>
            </dict>
            <key>attack1-info-effect-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,882},{209,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{209,43}}</string>
                <key>sourceSize</key>
                <string>{209,43}</string>
            </dict>
            <key>die1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,370},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>attack1-info-effect-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,316},{209,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{209,53}}</string>
                <key>sourceSize</key>
                <string>{209,53}</string>
            </dict>
            <key>attack1-info-effect-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,264},{217,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{217,51}}</string>
                <key>sourceSize</key>
                <string>{217,51}</string>
            </dict>
            <key>attack1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,112},{118,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,151}}</string>
                <key>sourceSize</key>
                <string>{118,151}</string>
            </dict>
            <key>attack1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,730},{118,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,151}}</string>
                <key>sourceSize</key>
                <string>{118,151}</string>
            </dict>
            <key>jump-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,578},{118,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,151}}</string>
                <key>sourceSize</key>
                <string>{118,151}</string>
            </dict>
            <key>skill1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{118,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,151}}</string>
                <key>sourceSize</key>
                <string>{118,151}</string>
            </dict>
            <key>skill1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{118,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,151}}</string>
                <key>sourceSize</key>
                <string>{118,151}</string>
            </dict>
            <key>hit1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{118,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,161}}</string>
                <key>sourceSize</key>
                <string>{118,161}</string>
            </dict>
            <key>attack1-info-effect-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,57},{242,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{242,54}}</string>
                <key>sourceSize</key>
                <string>{242,54}</string>
            </dict>
            <key>attack1-info-effect-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{254,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{254,56}}</string>
                <key>sourceSize</key>
                <string>{254,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>9300196.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>9300196.png</string>
        </dict>
    </dict>
</plist>
