<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack1-info-hit-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1245},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>attack1-info-effect-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1087},{142,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{142,86}}</string>
                <key>sourceSize</key>
                <string>{142,86}</string>
            </dict>
            <key>attack1-info-effect-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,518},{158,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{158,75}}</string>
                <key>sourceSize</key>
                <string>{158,75}</string>
            </dict>
            <key>attack1-info-effect-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,431},{153,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{153,86}}</string>
                <key>sourceSize</key>
                <string>{153,86}</string>
            </dict>
            <key>attack1-info-effect-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,52},{166,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,75}}</string>
                <key>sourceSize</key>
                <string>{166,75}</string>
            </dict>
            <key>attack1-info-effect-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,0},{191,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{191,51}}</string>
                <key>sourceSize</key>
                <string>{191,51}</string>
            </dict>
            <key>attack1-info-effect-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,825},{209,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{209,41}}</string>
                <key>sourceSize</key>
                <string>{209,41}</string>
            </dict>
            <key>attack1-info-effect-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,781},{209,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{209,43}}</string>
                <key>sourceSize</key>
                <string>{209,43}</string>
            </dict>
            <key>attack1-info-effect-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,726},{201,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{201,54}}</string>
                <key>sourceSize</key>
                <string>{201,54}</string>
            </dict>
            <key>attack1-info-effect-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,374},{202,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{202,56}}</string>
                <key>sourceSize</key>
                <string>{202,56}</string>
            </dict>
            <key>attack1-info-effect-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,320},{209,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{209,53}}</string>
                <key>sourceSize</key>
                <string>{209,53}</string>
            </dict>
            <key>attack1-info-effect-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,598},{206,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{206,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>attack1-info-effect-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,190},{217,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{217,129}}</string>
                <key>sourceSize</key>
                <string>{217,129}</string>
            </dict>
            <key>attack1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1268},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>attack1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1268},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>move-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1268},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>stand-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1268},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>skill1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1268},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>move-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1087},{173,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,180}}</string>
                <key>sourceSize</key>
                <string>{173,180}</string>
            </dict>
            <key>attack1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1087},{173,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,180}}</string>
                <key>sourceSize</key>
                <string>{173,180}</string>
            </dict>
            <key>stand-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1280},{219,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{219,139}}</string>
                <key>sourceSize</key>
                <string>{219,139}</string>
            </dict>
            <key>die1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,914},{195,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{195,172}}</string>
                <key>sourceSize</key>
                <string>{195,172}</string>
            </dict>
            <key>move-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,0},{178,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,189}}</string>
                <key>sourceSize</key>
                <string>{178,189}</string>
            </dict>
            <key>attack1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,0},{178,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,189}}</string>
                <key>sourceSize</key>
                <string>{178,189}</string>
            </dict>
            <key>attack1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,444},{219,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{219,153}}</string>
                <key>sourceSize</key>
                <string>{219,153}</string>
            </dict>
            <key>attack1-info-effect-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1280},{230,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{230,142}}</string>
                <key>sourceSize</key>
                <string>{230,142}</string>
            </dict>
            <key>move-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,444},{219,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{219,153}}</string>
                <key>sourceSize</key>
                <string>{219,153}</string>
            </dict>
            <key>skill1-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,689},{150,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,224}}</string>
                <key>sourceSize</key>
                <string>{150,224}</string>
            </dict>
            <key>skill1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,689},{150,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,224}}</string>
                <key>sourceSize</key>
                <string>{150,224}</string>
            </dict>
            <key>skill1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,219},{150,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,224}}</string>
                <key>sourceSize</key>
                <string>{150,224}</string>
            </dict>
            <key>skill1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1165},{150,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,226}}</string>
                <key>sourceSize</key>
                <string>{150,226}</string>
            </dict>
            <key>skill1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,930},{150,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,234}}</string>
                <key>sourceSize</key>
                <string>{150,234}</string>
            </dict>
            <key>skill1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,689},{150,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,240}}</string>
                <key>sourceSize</key>
                <string>{150,240}</string>
            </dict>
            <key>die1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{182,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,218}}</string>
                <key>sourceSize</key>
                <string>{182,218}</string>
            </dict>
            <key>die1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,470},{182,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,218}}</string>
                <key>sourceSize</key>
                <string>{182,218}</string>
            </dict>
            <key>hit1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,0},{182,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,218}}</string>
                <key>sourceSize</key>
                <string>{182,218}</string>
            </dict>
            <key>skill1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,219},{150,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,250}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>die1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,0},{182,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,218}}</string>
                <key>sourceSize</key>
                <string>{182,218}</string>
            </dict>
            <key>move-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,534},{186,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{186,216}}</string>
                <key>sourceSize</key>
                <string>{186,216}</string>
            </dict>
            <key>attack1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,534},{186,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{186,216}}</string>
                <key>sourceSize</key>
                <string>{186,216}</string>
            </dict>
            <key>skill1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,965},{150,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,264}}</string>
                <key>sourceSize</key>
                <string>{150,264}</string>
            </dict>
            <key>skill1-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,254},{159,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,279}}</string>
                <key>sourceSize</key>
                <string>{159,279}</string>
            </dict>
            <key>move-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,756},{231,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{231,208}}</string>
                <key>sourceSize</key>
                <string>{231,208}</string>
            </dict>
            <key>jump-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,756},{231,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{231,208}}</string>
                <key>sourceSize</key>
                <string>{231,208}</string>
            </dict>
            <key>attack1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,756},{231,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{231,208}}</string>
                <key>sourceSize</key>
                <string>{231,208}</string>
            </dict>
            <key>skill1-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,999},{160,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,280}}</string>
                <key>sourceSize</key>
                <string>{160,280}</string>
            </dict>
            <key>move-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,999},{202,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{202,245}}</string>
                <key>sourceSize</key>
                <string>{202,245}</string>
            </dict>
            <key>attack1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,999},{202,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{202,245}}</string>
                <key>sourceSize</key>
                <string>{202,245}</string>
            </dict>
            <key>die1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,756},{206,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{206,242}}</string>
                <key>sourceSize</key>
                <string>{206,242}</string>
            </dict>
            <key>die1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,507},{231,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{231,248}}</string>
                <key>sourceSize</key>
                <string>{231,248}</string>
            </dict>
            <key>die1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{246,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{246,252}}</string>
                <key>sourceSize</key>
                <string>{246,252}</string>
            </dict>
            <key>die1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{248,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{248,253}}</string>
                <key>sourceSize</key>
                <string>{248,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>9303002.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>9303002.png</string>
        </dict>
    </dict>
</plist>
