<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,0},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>dieF-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,285},{39,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,63}}</string>
                <key>sourceSize</key>
                <string>{39,63}</string>
            </dict>
            <key>dieF-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{59,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>die1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,163},{55,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>move-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,238},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>miss-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,187},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>stand-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,112},{57,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,50}}</string>
                <key>sourceSize</key>
                <string>{57,50}</string>
            </dict>
            <key>stand-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,62},{64,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,49}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>move-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,399},{62,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,53}}</string>
                <key>sourceSize</key>
                <string>{62,53}</string>
            </dict>
            <key>miss-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,345},{62,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,53}}</string>
                <key>sourceSize</key>
                <string>{62,53}</string>
            </dict>
            <key>move-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,0},{54,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,61}}</string>
                <key>sourceSize</key>
                <string>{54,61}</string>
            </dict>
            <key>miss-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,312},{54,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,61}}</string>
                <key>sourceSize</key>
                <string>{54,61}</string>
            </dict>
            <key>die2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,288},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>stand-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,238},{69,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,49}}</string>
                <key>sourceSize</key>
                <string>{69,49}</string>
            </dict>
            <key>move-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,186},{70,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,51}}</string>
                <key>sourceSize</key>
                <string>{70,51}</string>
            </dict>
            <key>miss-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,134},{70,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,51}}</string>
                <key>sourceSize</key>
                <string>{70,51}</string>
            </dict>
            <key>dieF-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,67},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>die2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,428},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>die1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,361},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>hit1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>move-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,293},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>miss-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,225},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>jump-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,157},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>miss-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,85},{61,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,71}}</string>
                <key>sourceSize</key>
                <string>{61,71}</string>
            </dict>
            <key>move-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,408},{61,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,71}}</string>
                <key>sourceSize</key>
                <string>{61,71}</string>
            </dict>
            <key>die1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,312},{52,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,95}}</string>
                <key>sourceSize</key>
                <string>{52,95}</string>
            </dict>
            <key>move-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{63,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,84}}</string>
                <key>sourceSize</key>
                <string>{63,84}</string>
            </dict>
            <key>miss-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,386},{63,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,84}}</string>
                <key>sourceSize</key>
                <string>{63,84}</string>
            </dict>
            <key>die1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,100},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>die2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,236},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>die1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{69,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,99}}</string>
                <key>sourceSize</key>
                <string>{69,99}</string>
            </dict>
            <key>dieF-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,164},{98,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,71}}</string>
                <key>sourceSize</key>
                <string>{98,71}</string>
            </dict>
            <key>die2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,254},{97,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,77}}</string>
                <key>sourceSize</key>
                <string>{97,77}</string>
            </dict>
            <key>dieF-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,431},{123,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,54}}</string>
                <key>sourceSize</key>
                <string>{123,54}</string>
            </dict>
            <key>dieF-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,386},{136,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,44}}</string>
                <key>sourceSize</key>
                <string>{136,44}</string>
            </dict>
            <key>dieF-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,341},{140,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{140,44}}</string>
                <key>sourceSize</key>
                <string>{140,44}</string>
            </dict>
            <key>die1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,341},{79,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,110}}</string>
                <key>sourceSize</key>
                <string>{79,110}</string>
            </dict>
            <key>die2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{114,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,86}}</string>
                <key>sourceSize</key>
                <string>{114,86}</string>
            </dict>
            <key>die2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{115,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,89}}</string>
                <key>sourceSize</key>
                <string>{115,89}</string>
            </dict>
            <key>die2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{207,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{207,163}}</string>
                <key>sourceSize</key>
                <string>{207,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>9700000.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>9700000.png</string>
        </dict>
    </dict>
</plist>
