<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01032013-default-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,48},{35,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,9}}</string>
                <key>sourceSize</key>
                <string>{35,9}</string>
            </dict>
            <key>01032013-backDefault-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,46},{37,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,9}}</string>
                <key>sourceSize</key>
                <string>{37,9}</string>
            </dict>
            <key>01032165-backDefault-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,36},{39,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,11}}</string>
                <key>sourceSize</key>
                <string>{39,11}</string>
            </dict>
            <key>01032165-default-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,34},{39,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,11}}</string>
                <key>sourceSize</key>
                <string>{39,11}</string>
            </dict>
            <key>01032243-default-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,22},{37,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,13}}</string>
                <key>sourceSize</key>
                <string>{37,13}</string>
            </dict>
            <key>01032243-backDefault-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,22},{39,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,11}}</string>
                <key>sourceSize</key>
                <string>{39,11}</string>
            </dict>
            <key>01032210-default-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{46,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,21}}</string>
                <key>sourceSize</key>
                <string>{46,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Earrings.png</string>
            <key>size</key>
            <string>{128,64}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>Earrings.png</string>
        </dict>
    </dict>
</plist>
