<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01012009-blaze-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,50},{5,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,3}}</string>
                <key>sourceSize</key>
                <string>{5,3}</string>
            </dict>
            <key>01012009-bowing-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,50},{5,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,3}}</string>
                <key>sourceSize</key>
                <string>{5,3}</string>
            </dict>
            <key>01012009-cry-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,50},{5,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,3}}</string>
                <key>sourceSize</key>
                <string>{5,3}</string>
            </dict>
            <key>01012009-default-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,49},{5,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,3}}</string>
                <key>sourceSize</key>
                <string>{5,3}</string>
            </dict>
            <key>01012009-smile-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,48},{5,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,3}}</string>
                <key>sourceSize</key>
                <string>{5,3}</string>
            </dict>
            <key>01012027-blaze-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,41},{6,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,7}}</string>
                <key>sourceSize</key>
                <string>{6,7}</string>
            </dict>
            <key>01012027-bowing-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,30},{8,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{8,6}</string>
            </dict>
            <key>01012027-default-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,48},{10,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,7}}</string>
                <key>sourceSize</key>
                <string>{10,7}</string>
            </dict>
            <key>01012011-cry-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,41},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>01012011-dam-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,40},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>01012011-default-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,40},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>01012011-hit-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,38},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>01012011-hot-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,38},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>01012011-oops-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,31},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>01012011-pain-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,31},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>01012011-shine-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,30},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>01012011-smile-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,28},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>01012011-stunned-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,28},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>01012011-vomit-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,21},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>01012011-wink-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,21},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>01012011-chu-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,20},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>01012011-cheers-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,10},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>01012011-angry-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,0},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>01012028-angry-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,21},{24,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,6}}</string>
                <key>sourceSize</key>
                <string>{24,6}</string>
            </dict>
            <key>01012028-cry-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,14},{24,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,6}}</string>
                <key>sourceSize</key>
                <string>{24,6}</string>
            </dict>
            <key>01012028-default-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,14},{24,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,6}}</string>
                <key>sourceSize</key>
                <string>{24,6}</string>
            </dict>
            <key>01012028-hit-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,7},{24,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,6}}</string>
                <key>sourceSize</key>
                <string>{24,6}</string>
            </dict>
            <key>01012028-smile-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,7},{24,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,6}}</string>
                <key>sourceSize</key>
                <string>{24,6}</string>
            </dict>
            <key>01012028-troubled-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,0},{24,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,6}}</string>
                <key>sourceSize</key>
                <string>{24,6}</string>
            </dict>
            <key>01012028-vomit-0-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{24,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,6}}</string>
                <key>sourceSize</key>
                <string>{24,6}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FaceAccessory.png</string>
            <key>size</key>
            <string>{128,64}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>FaceAccessory.png</string>
        </dict>
    </dict>
</plist>
