<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00030000-default-hairShade-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,23},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>00030000-default-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,164},{35,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,20}}</string>
                <key>sourceSize</key>
                <string>{35,20}</string>
            </dict>
            <key>00030000-default-hairOverHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,0},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>00030137-default-hairShade-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,297},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>00030133-default-hairShade-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,269},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>00030132-default-hairShade-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,241},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>00030134-default-hairShade-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,136},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>00030131-default-hairShade-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,213},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>00030136-default-hairShade-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,108},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>00030130-default-hairShade-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,185},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>00030135-default-hairShade-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,157},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>00030000-backDefault-backHairBelowCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,303},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>00030137-backDefault-backHairBelowCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,72},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>00030131-backDefault-backHairBelowCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,36},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>00030136-backDefault-backHairBelowCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,0},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>00030135-backDefault-backHairBelowCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,300},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>00030132-backDefault-backHairBelowCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,264},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>00030133-backDefault-backHairBelowCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,228},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>00030134-backDefault-backHairBelowCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,121},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>00030130-backDefault-backHairBelowCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,192},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>00030130-default-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,84},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>00030132-default-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,266},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>00030133-default-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,229},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>00030131-default-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,192},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>00030000-backDefault-backHair.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,158},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>00030137-default-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,121},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>00030135-default-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,84},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>00030134-default-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,299},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>00030136-default-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,299},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>00030134-default-hairOverHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,42},{60,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>00030133-default-hairOverHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{60,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>00030132-default-hairOverHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,257},{60,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>00030137-default-hairOverHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,215},{60,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>00030135-default-hairOverHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,173},{60,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>00030130-default-hairOverHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,131},{60,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>00030136-default-hairOverHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,89},{60,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>00030131-default-hairOverHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,47},{60,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>00030135-backDefault-backHair.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,0},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>00030136-backDefault-backHair.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>00030131-backDefault-backHair.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,235},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>00030137-backDefault-backHair.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>00030132-backDefault-backHair.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,141},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>00030133-backDefault-backHair.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>00030134-backDefault-backHair.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,47},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>00030130-backDefault-backHair.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hair.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>Hair.png</string>
        </dict>
    </dict>
</plist>
