<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alert-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,179},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>alert-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,179},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>alert-2-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,179},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>swingOF-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,178},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>stabOF-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,178},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>swingOF-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,178},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>swingO3-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,178},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>proneStab-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,178},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>jump-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,135},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>fly-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,135},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>stabO1-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,135},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>stabO1-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,134},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>stabO2-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,134},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>stabO2-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,134},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>swingOF-3-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,134},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>stabOF-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,91},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>stabOF-2-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,91},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>stand1-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,91},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>stand1-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,90},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>stand1-2-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,90},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>swingO1-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,90},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>swingO1-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,90},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>swingO1-2-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>swingO2-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>swingO2-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>swingO2-2-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,46},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>swingOF-2-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,46},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>swingO3-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,46},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>swingO3-2-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,46},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>ladder-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,0},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>ladder-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>rope-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,0},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>rope-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>walk1-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>walk1-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,0},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>walk1-3-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01098003.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>01098003.png</string>
        </dict>
    </dict>
</plist>
