<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alert-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,84},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>alert-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,56},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>alert-2-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,28},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>fly-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>jump-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,84},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>swingOF-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,56},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>swingO2-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,28},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>stabOF-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>stabO2-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,168},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>stabO2-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,140},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>stabO1-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,112},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>stabOF-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,84},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>stabOF-2-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,56},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>stabO1-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,28},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>proneStab-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>swingOF-3-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,173},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>swingOF-2-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,145},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>swingOF-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,117},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>swingO3-2-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,58},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>swingO3-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,0},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>swingO2-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,173},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>swingO2-2-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,145},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>swingO3-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,117},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>stand1-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,30},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>swingO1-2-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,89},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>stand1-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,173},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>swingO1-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,145},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>swingO1-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,117},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>stand1-2-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>walk1-3-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,60},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>walk1-1-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,30},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>walk1-0-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>01099002.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>01099002.png</string>
        </dict>
    </dict>
</plist>
